body {
    background-color: rgb(88, 88, 88);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: rgb(255, 255, 255);
  }

  h2 {
    color: green;
  }

  button {
    background: gray;
    border: none;
    border-radius: 8px;
    color: white;
  }

  header {
    background-image: url(imagekpoint.png);
    background-size: 100%;
    background-position: center;
    padding: 0px 0px 20px 20px;
    text-align: center;
    
  }
  .features{
    background: white;
    color: orange;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  .features figure{
    background: purple;
    margin: auto;
    width: 20px;
  }
  .feature figure img{
    border-radius: 50%;
    width: 20px;
  }
  div {
    background: rgb(255, 196, 0);
    margin:auto;
    width: 100px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li{
    display: inline-block;
    margin-right: 20px;
  }
  header .logo a{
    background-image: url("1e6.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position:relative;
    text-indent: -999999px;
    width: 300px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
    background-color: red;
  }
  section {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  footer {
      background: black;
      padding: 10px 20px;
    }
